@import url("https://use.typekit.net/lxs4vdr.css");

body {
  color: #333;
  font-family: "acumin-pro", sans-serif;
  font-weight: 200;
  font-size: 48px;
  padding: 0.2em;
  line-height: 1.3;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(254, 146, 254, 0.8) 100%
    );

}

a,
a:visited {
  text-decoration: none;
    color: #333;
  border-bottom: 1px magenta dashed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.4em 0;
}

nav {
  text-transform: lowercase;
  font-size: 2.1em;
  margin: 0.8em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  margin: 0;
  line-height: 1.2;
}

section {
  margin: 4em 0;
}

img {
  max-width: 100%;
}

stream {
    width: 100%;

}

.logotype,
.brud {
  font-size: 4em;
  font-family: UnifrakturMaguntia, sans-serif;
  margin: 0;
  text-align: center;
}
.brud {
  font-size: 1.8em;
}

.logotype,
.brud,
.sparkle {
  animation: 6s infinite cycle;
}

.date {
  text-align: right;
}

.dates {
  /* text-transform: lowercase; */
  margin: 0 auto;
  max-width: 11em;
}

.modules {
  margin-right: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;

}
.moduleName {
    font-size: 0.5em;
}

.dates ul li {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  text-align: left;
  /* justify-items: center; */
}

.artistPic {
  margin: 0 12px 0 0;
}

.headshot {
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.bio, .emanationDescription {
    text-align: left;
}

.details {
    margin: 1em 0;
    font-size: 0.8em;
}

.title {
  text-align: center;
  margin: 0.5em 0;
}

.links {
  font-size: 1.5em;
}

.blurb {
  text-align: justify;
}
@-moz-keyframes cycle {
  0% {
    text-shadow: 2px 2px #ff0, 4px 4px #0ff, 6px 6px #f0f;
  }
  33% {
    text-shadow: 2px 2px #0ff, 4px 4px #f0f, 6px 6px #ff0;
  }
  66% {
    text-shadow: 2px 2px #f0f, 4px 4px #ff0, 6px 6px #0ff;
  }
  100% {
    text-shadow: 2px 2px #ff0, 4px 4px #0ff, 6px 6px #f0f;
  }
}
@-webkit-keyframes cycle {
  0% {
    text-shadow: 2px 2px #ff0, 4px 4px #0ff, 6px 6px #f0f;
  }
  33% {
    text-shadow: 2px 2px #0ff, 4px 4px #f0f, 6px 6px #ff0;
  }
  66% {
    text-shadow: 2px 2px #f0f, 4px 4px #ff0, 6px 6px #0ff;
  }
  100% {
    text-shadow: 2px 2px #ff0, 4px 4px #0ff, 6px 6px #f0f;
  }
}
@-o-keyframes cycle {
  0% {
    text-shadow: 2px 2px #ff0, 4px 4px #0ff, 6px 6px #f0f;
  }
  33% {
    text-shadow: 2px 2px #0ff, 4px 4px #f0f, 6px 6px #ff0;
  }
  66% {
    text-shadow: 2px 2px #f0f, 4px 4px #ff0, 6px 6px #0ff;
  }
  100% {
    text-shadow: 2px 2px #ff0, 4px 4px #0ff, 6px 6px #f0f;
  }
}
@keyframes cycle {
  0% {
    text-shadow: 2px 2px #ff0, 4px 4px #0ff, 6px 6px #f0f;
  }
  33% {
    text-shadow: 2px 2px #0ff, 4px 4px #f0f, 6px 6px #ff0;
  }
  66% {
    text-shadow: 2px 2px #f0f, 4px 4px #ff0, 6px 6px #0ff;
  }
  100% {
    text-shadow: 2px 2px #ff0, 4px 4px #0ff, 6px 6px #f0f;
  }
}
